.botao {
    background: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.botao:hover {
    background: #fff;
    border: 3px solid #6278F7;
    padding: 29px;
    color: #6278F7;
    border-color: #6278F7;
}